<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ada Chat Bot</title>
</head>
<body>
    Testing
    <button id="btn" >Start Chat</button>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$( "#btn" ).click(function() {
    window.adaSettings = {
        adaReadyCallback: () => {
            window.adaEmbed.toggle();
        }
    };
    window.adaEmbed.start({
        handle: "xuenn-sandbox",
        metaFields: {
            username: "Ada Lovelace",
            phone_number: "123-456-7890",
            accessToken:"art"
        }
    });
    $( "#btn" ).hide();
});
</script>

<script
  id="__ada"
  data-lazy
  data-handle="xuenn-sandbox"
  src="https://static.ada.support/embed2.js"
></script>
</html>